body {
    margin: 0;
    background-image: url('components/images/background.png');
    background-size: cover;
}
/*HOME*/
main {
    background-color: rgba(180, 165, 165, 0.60);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 60px 20px;
    text-align: center; 
    border-radius: 20px;
    height: 550px;
}
#logo-home {
    width: 280px;
    height: auto;
    margin-top: 10px;
    padding-bottom: 40px;
}
.btn-home{
    font-family: 'Glegoo', serif;
    color: #301B3F;
    background-color: #B4A5A5;
    border-radius: 40px;
    padding: 5px;
    width: 300px;
    font-weight: bolder;
    margin-top: 15px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
/*LOGIN - JOIN*/
h3{
    font-size: 35px;
    font-family: 'Glegoo', serif;
    color: #301B3F;
    font-weight: bolder;
}
#logo-login-join {
    width: 230px;
    height: auto;
}

.buttonend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-login,.btn-join {
    font-family: 'Glegoo', serif;
    font-weight: 500;
    font-size: 20px;
    margin: 3px;
    border-radius: 8px;
    background-color: #B4A5A5;
    color: #301B3F;
    border: 2px outset;
}

#logo-login {
    width: 100px;
    height: auto;
    margin: 10px;
}

.btn-email,.btn-password {
    font-family: 'Glegoo', serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: rgb(219, 219, 219);
    color:rgb(37, 37, 37);

}

.forgot-password{
    display: flex;
    justify-content: center;
}

.btn-enter,.btn-return {
    font-family: 'Glegoo', serif;
    font-weight: 500;
    border-radius: 8px;
    background-color: white;
    color:rgb(37, 37, 37);
    border: 2px outset;
}

